<!DOCTYPE HTML>

<html>
	<head>
		<title>Arshdeep Sidhu</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="image main" style="padding:0 0 0 0; margin: 0 0 0 0; border-radius: 50%"><%= image_tag('turban.png')%></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Arshdeep Sidhu</h1>
								<p>Part-time Software Engineer, Full-time Innovator</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="resume.pdf" target="_blank">Resume</a></li>
								<li><a href="https://github.com/arshsidhu" target="_blank">GitHub</a></li>
								<li><a href="#about">About</a></li>
								<li><a href="https://www.linkedin.com/in/arshsidhu1998/" target="_blank">LinkedIn</a></li>
								<li><a href="#contact">Contact</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- About -->
							<article id="about">
								<h2 class="major">About</h2>
								<h3>Education</h3>
								<h4>University of Windsor</h4>
								<ul>
									<li>Bachelor of Computer Science with a Software Engineering specialization.</li>
									<li>Graduated April 2020.</li>
									<li>Keen interests in data structures and algorithms, bioinformatics, and artificial intelligence.</li>
								</ul>

								<h3>Experience</h3>
								<h4>Quicken Loans - Incoming Software Engineer Intern</h4>
								<ul>
									<li>Jun 2020 - Aug 2020 | Detroit, MI</li>
									<li>Full-stack developer working with C# and .NET.</li>
								</ul>

								<h4>Government of Canada - Statistics Canada - Software Engineer Intern</h4>
								<ul>
									<li>May 2018 - Aug 2019 | Ottawa, ON</li>
									<li>Full-stack developer on the CPS (Census Processing Systems) team working on various projects to further help statisticians process Census information.</li>
									<li>Migrated a 2006 Census application from WindowsForms/SQL to WPF/LINQ.</li>
									<li>Working mainly with C#/.NET alongside Entity Framework 6 and XAML.</li>
								</ul>

								<h4>University of Windsor - Teaching Assistant</h4>
								<ul>
									<li>Jan 2018 - May 2018</li>
									<li>Sept 2019 - May 2020 | Windsor, ON</li>
									<li>Teach weekly labs about different Data Structures and Algorithm topics.</li>
									<li>Hold weekly office hours to tutor students with their classwork.</li>
								</ul>

								<h4>University of Windsor - Research Assistant</h4>
								<ul>
									<li>Nov 2017 - May 2018 | Windsor, ON</li>
									<li>Working in a bioinformatics laboratory using machine learning to determine possible drug re-targeting with known cancers.</li>
									<li>Integrated the openSMILES API to change cell diagrams to ASCII strings.</li>
								</ul>

								<h4>Taplane - Unity Developer Intern</h4>
								<ul>
									<li>May 2017 - Aug 2017 | Windsor, ON</li>
									<li>Worked in a team of four to complete mobile applications using Unity.</li>
									<li>Completed tasks assigned by team leader and met all designated deadlines.</li>
									<li>Completed and published a game on the Google Play Store.</li>
								</ul>

							</article>

						<!-- Contact -->
							<article id="contact">
								<h2 class="major">Contact Information</h2>
								<p>Shoot me an email, give me a call or follow the social medias.</p>
								
								<p><b>Email: <a href="mailto:sidhu1998arsh@gmail.com">sidhu1998arsh@gmail.com</a></b></p>
								<p><b>Phone #</b>: <b>(519) 818 - 2777</b></p>
								<ul class="icons">
									<li><a href="https://twitter.com/HowDeepArshdeep?ref_src=twsrc%5Etfw" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.instagram.com/howdeeparshdeep/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
								</ul>
							</article>

					</div>

				<!-- Footer -->
					<footer id="footer">
						
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>
	</body>
</html>
